# Web Framework & ASGI Server
fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic[email]

# Environment & OAuth Security
python-dotenv
google-auth
requests
python-jose[cryptography]

# Data Processing & BigQuery
google-cloud-bigquery
pandas
db-dtypes
pyarrow