# Web Framework & ASGI Server
fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic[email]
email-validator

# Environment & OAuth Security
python-dotenv
google-auth
requests
python-jose[cryptography]

# Database (Cloud SQL PostgreSQL 연동 추가)
sqlalchemy
psycopg2-binary

# Data Processing & GCP Storage / BigQuery Engine
google-cloud-storage
google-cloud-bigquery
pandas
db-dtypes
pyarrow
